# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django files
db.sqlite3
db.sqlite3-journal
cineverse_db
cineverse_db-journal
media/
staticfiles/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# IDE files
.vscode/
.idea/
.project
.pydevproject
.settings/
.gemini/
.agents/
