-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: cineverse_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_permission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int(11) NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_address`
--

DROP TABLE IF EXISTS `cinema_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_address` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `city` varchar(50) NOT NULL,
  `district` varchar(50) NOT NULL,
  `address` varchar(255) NOT NULL,
  `is_default` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `cinema_address_user_id_de445a3f_fk_cinema_user_id` (`user_id`),
  CONSTRAINT `cinema_address_user_id_de445a3f_fk_cinema_user_id` FOREIGN KEY (`user_id`) REFERENCES `cinema_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_address`
--

LOCK TABLES `cinema_address` WRITE;
/*!40000 ALTER TABLE `cinema_address` DISABLE KEYS */;
INSERT INTO `cinema_address` VALUES (1,'Hanoi','Cau Giay','15 Duy Tan St',1,'2026-07-03 05:10:30.974464',2);
/*!40000 ALTER TABLE `cinema_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_booking`
--

DROP TABLE IF EXISTS `cinema_booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_booking` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `total_price` int(11) NOT NULL,
  `status` varchar(15) NOT NULL,
  `refund_amount` int(11) NOT NULL,
  `notes` longtext DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `discount_id` bigint(20) DEFAULT NULL,
  `showtime_id` bigint(20) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  `points_earned` int(11) NOT NULL,
  `redeemed_points` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `cinema_booking_discount_id_46dd4434_fk_cinema_discount_id` (`discount_id`),
  KEY `cinema_booking_showtime_id_d4306e26_fk_cinema_showtime_id` (`showtime_id`),
  KEY `cinema_booking_user_id_9503550d_fk_cinema_user_id` (`user_id`),
  CONSTRAINT `cinema_booking_discount_id_46dd4434_fk_cinema_discount_id` FOREIGN KEY (`discount_id`) REFERENCES `cinema_discount` (`id`),
  CONSTRAINT `cinema_booking_showtime_id_d4306e26_fk_cinema_showtime_id` FOREIGN KEY (`showtime_id`) REFERENCES `cinema_showtime` (`id`),
  CONSTRAINT `cinema_booking_user_id_9503550d_fk_cinema_user_id` FOREIGN KEY (`user_id`) REFERENCES `cinema_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_booking`
--

LOCK TABLES `cinema_booking` WRITE;
/*!40000 ALTER TABLE `cinema_booking` DISABLE KEYS */;
/*!40000 ALTER TABLE `cinema_booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_bookingitem`
--

DROP TABLE IF EXISTS `cinema_bookingitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_bookingitem` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `price` int(11) NOT NULL,
  `booking_id` bigint(20) NOT NULL,
  `seat_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `cinema_bookingitem_booking_id_16e0e420_fk_cinema_booking_id` (`booking_id`),
  KEY `cinema_bookingitem_seat_id_04961e49_fk_cinema_seat_id` (`seat_id`),
  CONSTRAINT `cinema_bookingitem_booking_id_16e0e420_fk_cinema_booking_id` FOREIGN KEY (`booking_id`) REFERENCES `cinema_booking` (`id`),
  CONSTRAINT `cinema_bookingitem_seat_id_04961e49_fk_cinema_seat_id` FOREIGN KEY (`seat_id`) REFERENCES `cinema_seat` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_bookingitem`
--

LOCK TABLES `cinema_bookingitem` WRITE;
/*!40000 ALTER TABLE `cinema_bookingitem` DISABLE KEYS */;
/*!40000 ALTER TABLE `cinema_bookingitem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_discount`
--

DROP TABLE IF EXISTS `cinema_discount`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_discount` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `type` varchar(15) NOT NULL,
  `value` int(11) NOT NULL,
  `min_amount` int(11) NOT NULL,
  `valid_from` date NOT NULL,
  `valid_to` date NOT NULL,
  `usage_limit` int(11) NOT NULL,
  `usage_count` int(11) NOT NULL,
  `per_user_limit` int(11) NOT NULL,
  `allow_points_combination` tinyint(1) NOT NULL,
  `applicable_genre` varchar(100) DEFAULT NULL,
  `is_golden_hour_only` tinyint(1) NOT NULL,
  `min_tier` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_discount`
--

LOCK TABLES `cinema_discount` WRITE;
/*!40000 ALTER TABLE `cinema_discount` DISABLE KEYS */;
INSERT INTO `cinema_discount` VALUES (1,'SUMMER2026','percentage',20,100000,'2026-06-28','2026-09-01',1000,0,1,1,NULL,0,'Bronze'),(2,'VIP100K','fixed',100000,250000,'2026-07-02','2026-08-02',500,0,1,1,NULL,0,'Bronze');
/*!40000 ALTER TABLE `cinema_discount` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_discount_applicable_movies`
--

DROP TABLE IF EXISTS `cinema_discount_applicable_movies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_discount_applicable_movies` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `discount_id` bigint(20) NOT NULL,
  `movie_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cinema_discount_applicab_discount_id_movie_id_2366c10a_uniq` (`discount_id`,`movie_id`),
  KEY `cinema_discount_appl_movie_id_161504b8_fk_cinema_mo` (`movie_id`),
  CONSTRAINT `cinema_discount_appl_discount_id_7ae6cacc_fk_cinema_di` FOREIGN KEY (`discount_id`) REFERENCES `cinema_discount` (`id`),
  CONSTRAINT `cinema_discount_appl_movie_id_161504b8_fk_cinema_mo` FOREIGN KEY (`movie_id`) REFERENCES `cinema_movie` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_discount_applicable_movies`
--

LOCK TABLES `cinema_discount_applicable_movies` WRITE;
/*!40000 ALTER TABLE `cinema_discount_applicable_movies` DISABLE KEYS */;
/*!40000 ALTER TABLE `cinema_discount_applicable_movies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_favorite`
--

DROP TABLE IF EXISTS `cinema_favorite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_favorite` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `movie_id` bigint(20) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cinema_favorite_user_id_movie_id_b3df0bc5_uniq` (`user_id`,`movie_id`),
  KEY `cinema_favorite_movie_id_febf8579_fk_cinema_movie_id` (`movie_id`),
  CONSTRAINT `cinema_favorite_movie_id_febf8579_fk_cinema_movie_id` FOREIGN KEY (`movie_id`) REFERENCES `cinema_movie` (`id`),
  CONSTRAINT `cinema_favorite_user_id_26d8bef9_fk_cinema_user_id` FOREIGN KEY (`user_id`) REFERENCES `cinema_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_favorite`
--

LOCK TABLES `cinema_favorite` WRITE;
/*!40000 ALTER TABLE `cinema_favorite` DISABLE KEYS */;
/*!40000 ALTER TABLE `cinema_favorite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_inappnotification`
--

DROP TABLE IF EXISTS `cinema_inappnotification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_inappnotification` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `title` varchar(150) NOT NULL,
  `message` longtext NOT NULL,
  `status` varchar(15) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `cinema_inappnotification_user_id_a396fb38_fk_cinema_user_id` (`user_id`),
  CONSTRAINT `cinema_inappnotification_user_id_a396fb38_fk_cinema_user_id` FOREIGN KEY (`user_id`) REFERENCES `cinema_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_inappnotification`
--

LOCK TABLES `cinema_inappnotification` WRITE;
/*!40000 ALTER TABLE `cinema_inappnotification` DISABLE KEYS */;
/*!40000 ALTER TABLE `cinema_inappnotification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_movie`
--

DROP TABLE IF EXISTS `cinema_movie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_movie` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `genre` varchar(100) NOT NULL,
  `duration` int(11) NOT NULL,
  `rating` double NOT NULL,
  `formats` varchar(50) NOT NULL,
  `poster_url` varchar(500) DEFAULT NULL,
  `trailer_url` varchar(500) DEFAULT NULL,
  `release_date` date NOT NULL,
  `end_date` date NOT NULL,
  `status` varchar(15) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `age_rating` varchar(10) NOT NULL,
  `cast` longtext NOT NULL,
  `director` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_movie`
--

LOCK TABLES `cinema_movie` WRITE;
/*!40000 ALTER TABLE `cinema_movie` DISABLE KEYS */;
/*!40000 ALTER TABLE `cinema_movie` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_payment`
--

DROP TABLE IF EXISTS `cinema_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_payment` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `amount` int(11) NOT NULL,
  `method` varchar(20) NOT NULL,
  `transaction_id` varchar(100) DEFAULT NULL,
  `status` varchar(15) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `booking_id` bigint(20) NOT NULL,
  `payment_url` varchar(1000) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cinema_payment_booking_id_9a4bd584_fk_cinema_booking_id` (`booking_id`),
  CONSTRAINT `cinema_payment_booking_id_9a4bd584_fk_cinema_booking_id` FOREIGN KEY (`booking_id`) REFERENCES `cinema_booking` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_payment`
--

LOCK TABLES `cinema_payment` WRITE;
/*!40000 ALTER TABLE `cinema_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `cinema_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_review`
--

DROP TABLE IF EXISTS `cinema_review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_review` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `rating` int(11) NOT NULL,
  `comment` longtext NOT NULL,
  `photos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`photos`)),
  `helpful_count` int(11) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `movie_id` bigint(20) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `cinema_review_movie_id_625900cd_fk_cinema_movie_id` (`movie_id`),
  KEY `cinema_review_user_id_b37e67d3_fk_cinema_user_id` (`user_id`),
  CONSTRAINT `cinema_review_movie_id_625900cd_fk_cinema_movie_id` FOREIGN KEY (`movie_id`) REFERENCES `cinema_movie` (`id`),
  CONSTRAINT `cinema_review_user_id_b37e67d3_fk_cinema_user_id` FOREIGN KEY (`user_id`) REFERENCES `cinema_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_review`
--

LOCK TABLES `cinema_review` WRITE;
/*!40000 ALTER TABLE `cinema_review` DISABLE KEYS */;
INSERT INTO `cinema_review` VALUES (1,5,'Absolutely mind-blowing cinematic masterpiece! The soundtrack by Hans Zimmer is legendary.','[]',0,'2026-07-03 05:10:31.000356',3,2);
/*!40000 ALTER TABLE `cinema_review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_reviewhelpfulvote`
--

DROP TABLE IF EXISTS `cinema_reviewhelpfulvote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_reviewhelpfulvote` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `review_id` bigint(20) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cinema_reviewhelpfulvote_user_id_review_id_eba2a26a_uniq` (`user_id`,`review_id`),
  KEY `cinema_reviewhelpfulvote_review_id_085b596b_fk_cinema_review_id` (`review_id`),
  CONSTRAINT `cinema_reviewhelpfulvote_review_id_085b596b_fk_cinema_review_id` FOREIGN KEY (`review_id`) REFERENCES `cinema_review` (`id`),
  CONSTRAINT `cinema_reviewhelpfulvote_user_id_d9081b32_fk_cinema_user_id` FOREIGN KEY (`user_id`) REFERENCES `cinema_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_reviewhelpfulvote`
--

LOCK TABLES `cinema_reviewhelpfulvote` WRITE;
/*!40000 ALTER TABLE `cinema_reviewhelpfulvote` DISABLE KEYS */;
/*!40000 ALTER TABLE `cinema_reviewhelpfulvote` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_reviewreply`
--

DROP TABLE IF EXISTS `cinema_reviewreply`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_reviewreply` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `reply_text` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `admin_id` bigint(20) NOT NULL,
  `review_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `review_id` (`review_id`),
  KEY `cinema_reviewreply_admin_id_4f374531_fk_cinema_user_id` (`admin_id`),
  CONSTRAINT `cinema_reviewreply_admin_id_4f374531_fk_cinema_user_id` FOREIGN KEY (`admin_id`) REFERENCES `cinema_user` (`id`),
  CONSTRAINT `cinema_reviewreply_review_id_bac91a98_fk_cinema_review_id` FOREIGN KEY (`review_id`) REFERENCES `cinema_review` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_reviewreply`
--

LOCK TABLES `cinema_reviewreply` WRITE;
/*!40000 ALTER TABLE `cinema_reviewreply` DISABLE KEYS */;
/*!40000 ALTER TABLE `cinema_reviewreply` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_screen`
--

DROP TABLE IF EXISTS `cinema_screen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_screen` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `format` varchar(20) NOT NULL,
  `capacity` int(11) NOT NULL,
  `rows` int(11) NOT NULL,
  `columns` int(11) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `theater_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `cinema_screen_theater_id_7e77b199_fk_cinema_theater_id` (`theater_id`),
  CONSTRAINT `cinema_screen_theater_id_7e77b199_fk_cinema_theater_id` FOREIGN KEY (`theater_id`) REFERENCES `cinema_theater` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_screen`
--

LOCK TABLES `cinema_screen` WRITE;
/*!40000 ALTER TABLE `cinema_screen` DISABLE KEYS */;
INSERT INTO `cinema_screen` VALUES (1,'IMAX Hall 1','IMAX',80,8,10,'2026-07-03 05:10:31.012806',1),(2,'Cinema Room 2','2D',60,6,10,'2026-07-03 05:10:31.052975',1),(3,'VIP Hall 1','3D',40,5,8,'2026-07-03 05:10:31.093876',2),(4,'IMAX Hall 2','IMAX',80,8,10,'2026-07-03 05:10:31.116306',2);
/*!40000 ALTER TABLE `cinema_screen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_seat`
--

DROP TABLE IF EXISTS `cinema_seat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_seat` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `row` varchar(5) NOT NULL,
  `column` int(11) NOT NULL,
  `seat_number` varchar(10) NOT NULL,
  `type` varchar(15) NOT NULL,
  `price` int(11) NOT NULL,
  `status` varchar(15) NOT NULL,
  `screen_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `cinema_seat_screen_id_7eef7e0c_fk_cinema_screen_id` (`screen_id`),
  CONSTRAINT `cinema_seat_screen_id_7eef7e0c_fk_cinema_screen_id` FOREIGN KEY (`screen_id`) REFERENCES `cinema_screen` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=242 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_seat`
--

LOCK TABLES `cinema_seat` WRITE;
/*!40000 ALTER TABLE `cinema_seat` DISABLE KEYS */;
/*!40000 ALTER TABLE `cinema_seat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_showtime`
--

DROP TABLE IF EXISTS `cinema_showtime`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_showtime` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `start_time` datetime(6) NOT NULL,
  `end_time` datetime(6) NOT NULL,
  `language` varchar(50) NOT NULL,
  `subtitle` varchar(50) NOT NULL,
  `price_multiplier` double NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `movie_id` bigint(20) NOT NULL,
  `screen_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `cinema_showtime_movie_id_3398a1c9_fk_cinema_movie_id` (`movie_id`),
  KEY `cinema_showtime_screen_id_464c257a_fk_cinema_screen_id` (`screen_id`),
  CONSTRAINT `cinema_showtime_movie_id_3398a1c9_fk_cinema_movie_id` FOREIGN KEY (`movie_id`) REFERENCES `cinema_movie` (`id`),
  CONSTRAINT `cinema_showtime_screen_id_464c257a_fk_cinema_screen_id` FOREIGN KEY (`screen_id`) REFERENCES `cinema_screen` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_showtime`
--

LOCK TABLES `cinema_showtime` WRITE;
/*!40000 ALTER TABLE `cinema_showtime` DISABLE KEYS */;
/*!40000 ALTER TABLE `cinema_showtime` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_theater`
--

DROP TABLE IF EXISTS `cinema_theater`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_theater` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `city` varchar(50) NOT NULL,
  `address` varchar(255) NOT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(254) DEFAULT NULL,
  `amenities` varchar(255) DEFAULT NULL,
  `operating_hours` varchar(100) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_theater`
--

LOCK TABLES `cinema_theater` WRITE;
/*!40000 ALTER TABLE `cinema_theater` DISABLE KEYS */;
INSERT INTO `cinema_theater` VALUES (1,'CineVerse Royal City','Hanoi','B2 Floor, Vincom Royal City, Thanh Xuan District',NULL,NULL,NULL,NULL,'Parking, Food Court, VIP Lounge, Kids Playroom','09:00 - 23:00','2026-07-03 05:10:31.003945'),(2,'CineVerse Landmark 72','Hanoi','Keangnam Landmark 72, Cau Giay District',NULL,NULL,NULL,NULL,'Parking, Executive Dining, Wheelchair Access','09:00 - 23:00','2026-07-03 05:10:31.006672');
/*!40000 ALTER TABLE `cinema_theater` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_user`
--

DROP TABLE IF EXISTS `cinema_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_user` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `email` varchar(254) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `name` varchar(100) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `points` int(11) NOT NULL,
  `tier` varchar(15) NOT NULL,
  `status` varchar(15) NOT NULL,
  `verification_token` varchar(255) DEFAULT NULL,
  `reset_token` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_user`
--

LOCK TABLES `cinema_user` WRITE;
/*!40000 ALTER TABLE `cinema_user` DISABLE KEYS */;
INSERT INTO `cinema_user` VALUES (1,'admin@cinema.com','$2b$12$u2WWyjrQR0.H6E1pjgH5.eHC1jqM.hvaV0t1NQYBi/PpL0EkW4TrC','System Admin',NULL,1200,'Platinum','active',NULL,NULL,'2026-07-03 05:10:30.401647'),(2,'customer@cinema.com','$2b$12$AMiD0xRL9MutKRn43L7yl.Jd5NSehc7yQpGrn19CTzGM9wsZy.bfy','Alex Mercer',NULL,340,'Gold','active',NULL,NULL,'2026-07-03 05:10:30.687023');
/*!40000 ALTER TABLE `cinema_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cinema_watchlist`
--

DROP TABLE IF EXISTS `cinema_watchlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cinema_watchlist` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `remind_me` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `movie_id` bigint(20) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cinema_watchlist_user_id_movie_id_a7a8738d_uniq` (`user_id`,`movie_id`),
  KEY `cinema_watchlist_movie_id_df85ed84_fk_cinema_movie_id` (`movie_id`),
  CONSTRAINT `cinema_watchlist_movie_id_df85ed84_fk_cinema_movie_id` FOREIGN KEY (`movie_id`) REFERENCES `cinema_movie` (`id`),
  CONSTRAINT `cinema_watchlist_user_id_b7c5d671_fk_cinema_user_id` FOREIGN KEY (`user_id`) REFERENCES `cinema_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cinema_watchlist`
--

LOCK TABLES `cinema_watchlist` WRITE;
/*!40000 ALTER TABLE `cinema_watchlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `cinema_watchlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext DEFAULT NULL,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint(5) unsigned NOT NULL CHECK (`action_flag` >= 0),
  `change_message` longtext NOT NULL,
  `content_type_id` int(11) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_content_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_migrations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-06 10:50:27
